*,*:before,*:after{
	box-sizing: border-box;
}
body{
	font-family: "Montserrat",san-serif;
	background: #fff;
}
.text-box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
	font-size: 8vw;
	text-transform: uppercase;
	font-weight: 900;
	background-color: #000;
	color: #fff;
	display: block;
	padding: .1em;
}
h1:nth-child(2){
	position: absolute;
	background-color: #fff;
	color: #000;
	clip-path: inset(-1% -1% 50% -1%);
}
.container{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}